# dependencies
node_modules/
.pnp/
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
